[report]
exclude_lines =
    pragma: no cover
    except ImportError
    raise RequiredVariableNotPresent
    self.logger.setLevel
    except pydap.exceptions.ServerError
    raise OpenDAPServerError
    except (RequiredVariableNotPresent, OpenDAPServerError) as e
    self.logger.warn(e)
